@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.demoFlapper {
  padding: 12px;
}

.demoFlapper [data-kind="digit"] {
  font-size: 30px;
}

h2 {
  font-size: 1rem;
  padding: 2px 2px 0 2px;
  margin: 0;
  border-bottom: 1px solid black;
}

.page-container {
  max-width: 768px;
  margin: 0 auto;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.full,
.col25,
.col50,
.col75 {
  padding: 6px;
}

.full {
  width: 100%;
}

.col50 {
  width: 50%;
}

.col25 {
  width: 25%;
}

.col75 {
  width: 75%;
}

label {
  padding: 0 2px;
}

@media (min-width: 768px) {
  .col-md-50 {
    width: 50%;
  }
}

input[type='text'],
input[type='number'] {
  width: 100%;
}

code {
  color: #333;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0 2px;
}