@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body {
  margin: 0;
  padding: 0;
}

.demoFlapper {
  padding: 25px;
}

.demoFlapper [data-kind="digit"] {
  font-size: 30px;
}

/* .demoFlapper [data-kind="digit"][data-mode="alpha"] {
  font-size: 64px;
} */
