@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.demoFlapper {
  padding: 12px;
}

.demoFlapper [data-kind="digit"] {
  font-size: 30px;
}

h2 {
  font-size: 1rem;
  margin: 0;
  border-bottom: 1px solid black;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.full, .col {
  padding: 6px;
  box-sizing: border-box;
}

.full {
  width: 100%;
}

.col {
  width: 100%;
}

label {
  padding-right: 12px;
}

@media (min-width: 768px) {
  .col {
    width: 50%;
  }  
}
