@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.innerDigit {
  font-size: 80px;
}